* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.header {
  color: #99582a;
  font-style: italic;
  background-color: #ccd5ae;
  font-size: 30px;
  padding: 1rem;
}
.header h1 {
  font-family: "Lobster Two", cursive;
}
.individualItem-container {
  font-family: "Roboto", sans-serif;
}

.individualItem-card {
  margin: 2em;
}

.individualItem-item-image {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 330px) {
  .individualItem-item-image {
    width: 200px;
    height: 200px;
  }
}

.individualItem-item-image {
}

.individualItem-name {
  margin: 1rem;
  font-size: 2rem;
}

.individualItem-location {
}

.individualItem-sellerUsername {
}

.individualItem-price {
  display: inline-block;
  border-radius: 12px;
  background-color: #ccd5ae;
  transition: 0.3s ease-in;
  margin: 0.7rem;
  padding: 0.4rem;
}

.individualItem-price-amount {
  background-color: #d4a373;
  font-size: 2.1rem;
  display: inline-block;
  margin: 0.7rem;
  border-radius: 12px;
  padding: 0.7rem;
}

.individualItem-price {
  font-weight: bold;
  font-size: 1.4em;
}

.individualItem-name {
  font-weight: bold;
}

.individualItem-sellerUsername {
  font-weight: bold;
}

.footer-container {
  background-color: #d4a373;
}

.project-title-footer {
  font-family: "Lobster Two", cursive;
  font-style: italic;
  color: #ffffff;
}

.donate-btn {
  background-color: #ccd5ae;
  margin: 1em;
  border-radius: 12px;
  padding: 0.8em;
  border: none;
  transition: 0.3s ease-in;
  font-weight: bold;
  cursor: pointer;
}

.donate-btn:hover {
  background-color: #d4a373;
  color: #ffffff;
}

.donate-btn:focus {
  outline: none;
}

.wrapping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 40px;
  margin-bottom: 1rem;
}

.wrapping > p:last-child {
  grid-column: 2;
  grid-row: 1/2;
  align-self: start;
}

/* @media only screen and (min-width: 800px) {
  .individualItem-container {
    display: flex;
  }
} */

@media only screen and (min-width: 800px) {
  .individualItem-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
  }

  .individualItem-item-image {
    display: flex;
  }

  .wrapping {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .wrapping p {
    align-self: flex-start;
    margin: 0.5rem 0;
  }

  .individualItem-desktop-description {
    margin: 2rem 25rem 2rem 25rem;
  }
  .individualItem-desktop-info {
    margin: 2rem 0 2rem 0;
  }
}

.itemsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 0;
  justify-content: center;
}

.itemsListDiv p {
  text-align: start;
}

.itemsListDiv :nth-child(2) {
  font-weight: bold;
}

.itemsListPrice p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* .itemsList picture {
  justify-self: start;
}

.itemsList div {
  justify-self: start;
} */

.navigationButtons {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.navigationButtons button {
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: #faedcd;
  border: none;
  border-radius: 12px;
}

.navigationButtons button:hover {
  background-color: #d4a373;
}

/*post-page*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  /* display: inline-block; */
  font-size: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
.item-image {
  display: flex;
}
form {
  margin-top: 10px;
}
.region {
  margin-bottom: 1rem;
}
.item-charity {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
}
.item-charity-2 {
  justify-content: space-between;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}
@media only screen and (min-width: 800px) {
  .item-charity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-charity-2 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
