* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-flow: column;
  align-content: stretch;
  text-align: center;
  min-height: 100vh;
}

.lobster-font {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
}
.header {
  color: #99582a;
  font-style: italic;
  background-color: #ccd5ae;
  font-size: 30px;
  text-decoration: none;
}

.header h1 {
  font-family: 'Lobster Two', cursive;
}
.user-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9edc9;
  /* width: 100vw; */
  /* padding: 0.5rem 1rem; */
  margin-top: 1rem;
}
.user-bar-loggedIn-container {
  display: flex;
  justify-content: space-evenly;
}
.user-bar-loggedIn-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
}
.user-bar-loggedIn-btn-wrapper {
  justify-self: flex-end;
  margin: 0 1rem;
}
.user-bar-loggedIn-btn {
  background-color: #d4a373;
  justify-self: flex-end;
  font-size: 0.8rem;
  font-style: normal;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  text-decoration: none;
  border: none;
}
.user-bar-loggedIn-btn:hover {
  background-color: #faedcd;
}

.user-bar-loggedIn-btn:focus {
  outline: none;
}

.user-bar-login-out {
  background-color: #d4a373;
  font-size: 0.8rem;
  font-style: normal;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  border-radius: 12px;
  text-decoration: none;
}

.user-bar-login-out:link {
  color: #000;
}
.user-bar-login-out:visited {
  color: #000;
}
.user-bar-login-out:hover {
  color: #faedcd;
}
.user-bar-loggedIn-text {
  text-decoration: none;
  font-size: 0.8rem;
  font-style: normal;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .user-bar-loggedIn-btn-wrapper {
    margin: 0;
  }
  .user-bar-loggedIn-text-wrapper {
    margin: 0;
  }
}
.central-area {
  flex: 1;
}
.main-section-container {
  display: flex;
  flex-direction: column;
}
.individualItem-container {
  font-family: 'Roboto', sans-serif;
}

.individualItem-card {
  margin: 2em;
}

.individualItem-item-image {
  border-radius: 12px;
}

@media only screen and (max-width: 330px) {
  .individualItem-item-image {
    width: 200px;
    height: 200px;
  }
}

.individualItem-name {
  margin: 1rem;
  font-size: 2rem;
}
.individualItem-location {
}
.individualItem-sellerUsername {
}
.individualItem-price {
  display: inline-block;
  border-radius: 12px;
  background-color: #ccd5ae;
  transition: 0.3s ease-in;
  margin: 0.7rem;
  padding: 0.4rem;
}

.individualItem-price-amount {
  background-color: #d4a373;
  font-size: 2.1rem;
  display: inline-block;
  margin: 0.7rem;
  border-radius: 12px;
  padding: 0.7rem;
}
.individualItem-price {
  font-weight: bold;
  font-size: 1.4em;
}
.individualItem-name {
  font-weight: bold;
}
.individualItem-sellerUsername {
  font-weight: bold;
}
.footer-container {
  background-color: #d4a373;
}
.project-title-footer {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  text-decoration: none;
  color: #ffffff;
}
.donate-btn {
  background-color: #ccd5ae;
  margin: 1em 0 2rem 0;
  border-radius: 12px;
  padding: 0.8rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.donate-btn:hover {
  color: #ffffff;
  background-color: #d4a373;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.donate-btn:focus {
  outline: none;
}
.wrapping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 40px;
  margin-bottom: 1rem;
}
.wrapping > p:last-child {
  grid-column: 2;
  grid-row: 1/2;
  align-self: start;
}
@media only screen and (min-width: 800px) {
  .individualItem-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
  }
  .individualItem-item-image {
    display: flex;
    border-radius: 12px;
  }
  .wrapping {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .wrapping p {
    align-self: flex-start;
    margin: 0.5rem 0;
  }
  .individualItem-desktop-description {
    margin: 2rem 10rem;
  }
}
.individualItem-desktop-description {
  margin: 2rem 1.5rem;
}
.individualItem-desktop-info {
  margin: 2rem 1.5rem;
}
.itemsList {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin: 2rem 5rem 1rem 5rem;
  justify-content: center;
  align-items: center;
}

.itemsListPicture {
  justify-self: end;
}

.itemsListTitle {
  justify-self: center;
}
.itemsListTitle p {
  text-align: start;
  text-decoration: none;
  color: #000;
  margin: 0.2rem 0.4rem;
}
.itemsListTitle :nth-child(2) {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin: 0.2rem 0;
}
.itemsListPrice {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 0.2rem 0;
  justify-self: center;
  align-self: center;
}
.itemsListPrice button {
  background-color: #ccd5ae;
  margin: 1em;
  border-radius: 12px;
  padding: 0.5rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  align-self: center;
}

.itemsListPrice button:hover {
  color: #ffffff;
  background-color: #d4a373;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
  .itemsList {
    grid-template-columns: 170px 170px;
    grid-template-rows: 1fr 0.7fr;
    /* gap: 1rem; */
    margin: 0;
  }
  .itemsListPicture {
    justify-self: center;
    margin: 0;
  }
  .itemsListTitle {
    justify-self: start;
    align-self: start;
    margin: 0;
  }
  .itemsListTitle p {
    margin: 0;
  }
  .itemsListPrice {
    display: flex;
    margin: -0.4rem 0 0 0;
    grid-column: 2;
    align-self: start;
    justify-self: start;
  }
  .itemsListPrice button {
    align-self: start;
    margin: 0 0 0 1rem;
  }
}

.navigationButtons {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.navigationButtons button {
  margin: 0 0.8rem 0 0.8rem;
  padding: 12px;
  background-color: #faedcd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.navigationButtons button:hover {
  background-color: #d4a373;
  color: #fff;
}

.sort-data-items-wrapper {
  display: flex;
  margin: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.sort-data-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: #faedcd;
  border-radius: 6px;
}

.sort-data-item .sort-data-item-cats {
  text-align-last: center;
}

.sort-data-item:hover {
  background-color: #d4a373;
  color: #fff;
}

.select-box-gap {
  margin: 0 0.8rem;
}

@media screen and (max-width: 600px) {
  .navigationButtons {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .sort-data-items-wrapper {
    margin: 0.4rem;
  }
}
.pagination {
  display: inline-block;
  margin-bottom: 10px;
}
.p-button {
  border: none;
  border-radius: 3px;
  color: black;
  background-color: rgb(250, 237, 205);
  padding: 6px 12px;
  text-decoration: none;
}
#button-background {
  background-color: #99582a;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 2px;
}
#p-Button-background {
  background: rgb(250, 237, 205);
  padding: 6px 12px;
  margin: 2px;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem;
}
.footer-container {
  color: white;
  text-decoration: none;
  font-style: none;
}
.footer-container:hover {
  color: #ccd5ae;
}
/* About us page styling */
.about-us {
  margin: 2rem;
}
.about-us p {
  margin: 1rem;
}

.thumbnailImageStyle {
  max-width: 150px;
  max-height: 150px;
}

/*post-page*/
input[type='text'],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type='password'] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type='email'] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type='number'] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
}
input[type='file'] {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
}
/* customize input file **/

/* input[type="checkbox"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
} */

label {
  padding: 12px 12px 12px 0;
  /* display: inline-block; */
  font-size: 20px;

  float: right;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }

  label {
    padding: 12px 12px 12px 0;
    /* display: inline-block; */
    font-size: 20px;
    margin: 0 2.4rem;
    float: left;
    /* color: red;
    background-color: red; */
  }
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-image {
  display: flex;
}
form {
  margin-top: 10px;
}
.region {
  margin-bottom: 1rem;
}
.item-charity {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
}
.item-charity-2 {
  justify-content: space-between;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}

@media only screen and (min-width: 800px) {
  .item-charity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-charity-2 {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

/* .login-container {
  

  justify-content: center;
  align-items: center;
} */

.signup-login-header {
  margin: 2rem;
}

.sign-up-age-verify-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-start; */
}

.sign-up-age-verify {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 5rem;
  width: 100%;
}

.sign-up-age-verify label {
  margin: 0 0.4rem 0 3rem;
  font-size: 1rem;
}
.sign-up-age-verify input {
  transform: scale(1);
}

.sign-up-verify-role-container {
  display: flex;
}

.sign-up-role-verify {
  display: grid;
  grid-template-columns: 90% 1rem;
  align-items: center;
  margin: 0 8rem;
  gap: 20px;
  text-align: left;
}

.sign-up-role-verify label {
  padding: 0;
  font-size: 1rem;
}

.sign-up-role-verify input {
  transform: scale(1);
  background-color: red;
}

.sign-up-login-btn {
  background-color: #ccd5ae;
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
  border-radius: 12px;
  padding: 1rem 1.8rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sign-up-login-btn:hover {
  color: #ffffff;
  background-color: #d4a373;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.sign-up-login-btn:focus {
  outline: none;
}

.error-message {
  display: inline-block;
  margin: 1rem 0 2rem 0;
  padding: 0.5rem;
  border-radius: 12px;
  font-weight: bold;
  background-color: #ee7d59;
  border: 2px solid black;
}

/* Login page */
.forgotten-passwork-link {
  text-decoration: none;
  color: #99582a;
  margin-bottom: 2rem;
}

.forgotten-passwork-link:hover {
  color: #d4a373;
}

.forgotten-passwork-link:visited {
  color: #99582a;
}

/* About pages */

.about-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-btn {
  background: none;
  font-size: 0.9rem;
  margin: 1em;
  padding: 0.8rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
}

.about-btn:hover {
  color: #99582a;
}

.about-btn:focus {
  outline: none;
}

.about-btn-active {
  color: #99582a;
}

.carousel-btn {
  background-color: #ccd5ae;
  margin: 0 1rem 2rem 1rem;
  border-radius: 40%;
  padding: 0.5rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.carousel-btn:hover {
  color: #ffffff;
  background-color: #d4a373;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

.carousel-btn:focus {
  outline: none;
}

.carousel-slider {
  margin: 3rem;
}

.showLess {
  display: none;
}

.showMore {
  display: block;
}

.charityCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up-age-verify-container {
    justify-content: flex-start;
  }
  .sign-up-age-verify {
    margin: 0 0 0 0;
  }

  .sign-up-age-verify label {
    margin: 0 2.3rem;
  }
  .sign-up-age-verify input {
    margin: 0 0 0 3.8rem;
  }
  .sign-up-role-verify {
    margin: 0;
    grid-template-columns: 81% 1rem;
  }
  /****************dashboard ****************/
  .itemsListPrice {
    font-size: 1rem;
  }
}

.charityDisplay-btn {
  justify-self: end;
  display: inline-block;
  background-color: #ccd5ae;
  margin: 1em 25rem 2rem 1rem;
  border-radius: 12px;
  padding: 0.8rem;
}

.dashboard-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d4a373;
  color: white; */
}

.charity-image {
  margin-left: 25rem;
  max-width: 200px;
  max-height: 200px;
}

/************************** dashboard big screen***********************/
.item-list-wrapper {
  display: flex;
  flex: 0 0 1em;
}
.item-descp-wraper {
  text-align: justify;
}

.action-button {
  background-color: #ee7d59;
  margin-top: 0.7rem;
  margin: 0 0 2rem 0;
  border-radius: 12px;
  padding: 0.8rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
}

.dashboard-btns {
  background-color: #faedcd;
  font-size: 0.8rem;
  margin: 0 0.6rem 1rem 0.6rem;
  border-radius: 12px;
  padding: 0.6rem 0.8rem;

  border: none;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dashboard-btns:hover {
  color: #ffffff;
  background-color: #d4a373;
  box-shadow: 0px 15px 20px rgba(204, 213, 174, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
.dashboard-btns:focus {
  outline: none;
  background-color: #d4a373;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-display {
  vertical-align: super;
  display: grid;
  grid-template-rows: 1fr 40px;
  margin-bottom: 1rem;
}

.dashboard-head {
  /* font-family: 'Lobster Two', cursive; */
  margin: 1rem 0;
}

.dashboard-header {
  vertical-align: super;
  color: #d4a373;
  margin: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .dashboard-header {
    margin-bottom: 1.5rem;
  }
}

.dashboard-msg {
  margin: 1.5rem;
}
.reserve-paragraph {
  text-align: center;
  margin: 0.6rem 0 1rem 1.2rem;
}

.noitem-detail {
  text-align: center;
  margin: 0.6rem 0 1rem 1.2rem;
}

.purchase-info-header {
  text-align: left;
  margin: 1.6rem 0 1rem 1.2rem;
}

.purchase-instructions {
  text-align: left;
  margin: 0.6rem 1.2rem;
}

.review-head {
  margin: 2rem 0 1rem 0;
}

.first-and-fifth {
  border-radius: 12px;
  background-color: #ccd5ae;
}

.second-and-sixth {
  border-radius: 12px;
  background-color: rgb(250, 237, 205);
}

.third-and-seventh {
  border-radius: 12px;
  background-color: #d4a373;
}

.fourth-and-eighth {
  border-radius: 12px;
  background-color: #e9edc9;
}
